<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="../css/jquery.range.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/filter-2.css">
    <link rel="stylesheet" href="../css/load-wheel.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> -->
    <link rel="stylesheet" href="../css/jquery.range.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/filter.css">
    <link rel="stylesheet" href="../css/load-wheel.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
    <title>NeuroTarget - Main Page</title>
</head>
<body>
<nav>
    <div class="menu">
        <div class="logo">
            <div class="menu-trigger">
                <i class="fas fa-bars"></i>
            </div>
            <h2>NeuroTarget</h2>
        </div>
        <button class="clusters" onclick="window.open('https://docs.google.com/document/d/1gYJFrq3_vUivpvXGsQGwxE0EnnsNTk8KHj48ogioSlU/edit?usp=sharing', '_blank')">
        Инструкция
        </button>
        <div class="cabinet">
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Личный кабинет
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/settings">Настройки</a>
                    <a class="dropdown-item" href="" id="exit">Выход</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="root">
    <div class="sidebar">
        <h3>Мои запросы</h3>
        <div class="padding-container">
            <a href="/load" class="btn btn-outline-light add-button"> + Добавить</a>
            <!-- <button type="button" class="btn btn-outline-light add-button" id="add-btn"> + Добавить</button> -->
        </div>
        <div class="padding-container-full works-wrapper">
            <ul class="works">
                <!-- <li><i class="fas fa-arrow-circle-right active"></i>&nbsp;&nbsp;&nbsp;example</li> -->
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="standard-margin-horz">
            <div class="standard-margin-vert">
                <div class="standard-background">
                    <div class="controls">
                        <div class="project">
                            <div class="flex" id="title">
                            </div>
                            <div class="login-input-wrapper">
                                <label>
                                    <div id="app">
                                        <div class="elements-list">
                                          <draggable
                                            class="dragArea list-group"
                                            :list="list1"
                                            :group="{ name: 'operator', pull: 'clone', put: false }"
                                          >
                                            <div
                                              class="list-group-item"
                                              v-for="element in list1"
                                              :key="element.name"
                                              @click="addOperator"
                                            >
                                              {{ element.name }}
                                            </div>
                                          </draggable>
                                          <Select2 class="select2" :options="options" v-model="selected">
                                            <option disabled value="0">Выберите одно из полей</option>
                                          </Select2>
                                          <button class='btn btn-primary' @click="add">Добавить</button>
                                          <button class='btn btn-primary' @click="convertStr">Искать</button>
                                          <div class="converted" v-if="list2.length > 0">
                                          	<input type='text' id='nameCluster' placeholder="Название кластера">
                                            <button class='btn btn-warning' @click="createCluster">Создать кластер</button>
                                          </div>
                                        </div>

                                    <div class="string-list">
                                      <draggable
                                        class="dragArea list-group"
                                        :list="list2"
                                        group="operator"
                                      >
                                        <div
                                          class="list-group-item"
                                          v-bind:class="{operator: element.type == 'operator', cluster: element.type == 'cluster', tag: element.type == 'tag'}"
                                          v-for="(element, idx) in list2"
                                          :key="element.name"
                                        >
                                          {{ element.name }}
                                          <i class="close" @click="removeAt(idx)">×</i>
                                        </div>
                                      </draggable>
                                    </div>
                                  </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="standard-margin-horz">
            <div class="standard-margin-vert">
                <div class="standard-background">
                    <div class="download-wrapper">
                        <button type="button" class="btn btn-primary" id='view-tags'>
                            Посмотреть все тэги/кластеры
                        </button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#confirmModal" id="download">Скачать IDs (txt)
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard-margin-horz">
            <div class="standard-margin-vert">
                <div class="standard-background">
                    <!-- // 11.03 HEAD -->
                    <div style="display: flex; padding: 2.5px;">
                        <div>Аудитория:</div>
                        <div id="users-stat" style="margin-left: 10px"></div>
                        <!-- Место для вставки количества человек -->
                    </div>
                    <div class="flex content-info flex-dir-col">
                        <button type="button" class="btn btn-primary" id="load-stata">Открыть статистику
                        </button>
                        <div class="table-tags"> 
                            <div class="tags-order">По убыванию</div>
                            <table class="table table-bordered table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>Теги</th>
                                        <th>Количество ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Место для рамещения тегов -->
                                </tbody>
                            </table>
                            <div class="tags-pages-wrapper">
                                <div class="tags-pages tags-pages_prev">Назад</div>
                                <div class="tags-pages_cur"></div>
                                <div class="tags-pages tags-pages_next">Вперед</div>
                            </div>
                            <div class="tags-pages-numbers-wrapper">
                                <!-- Место для номеров страниц -->
                            </div>
                        </div>
                        <div class="photos" id="photos" style="display: flex; width: 100%">
                            <div id="gallery">
                                <!-- Место для фотографий -->
                            </div>
                            <div class="photos-pages-wrapper">
                                <div class="photos-pages photos-pages_prev">Назад</div>
                                <div class="photos-pages_cur"></div>
                                <div class="photos-pages photos-pages_next">Вперед</div>
                            </div>
                            <div class="photos-pages-numbers-wrapper">
                                <!-- Место для номеров страниц -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ConfirmModal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Подтверждение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-confirmation">
                Скачать файл?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Отмена</button>
                <button type="button" class="btn btn-primary btn-primary-fix" id="save">Да</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>

<!-- Колесо заргузки -->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>

</body>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>

<script src="../js/jquery.range.js"></script>
<script src="../js/index.js"></script>

<script src="../js/action_menu.js"></script>
<script src="../js/filter.js"></script>
<script src="../js/vue-filter.js"></script>
</html>